---
import MainLayout from "../layouts/MainLayout.astro";
import CustomTitle from "../components/CustomTitle.astro";
---

<MainLayout title="About">
    <!-- <CustomTitle title="About" /> -->
    <h1>About</h1>
    <p>This is the about page</p>
</MainLayout>

<style>
    h1 {
        color: red;
    }
</style>
